@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Sacramento&display=swap');

  body {
    font: 2em/1.618 sacramento;
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;

    color: #224;
    background:
      url(river.jpg)
      center / cover no-repeat fixed;
  }
  
  .affirmation {
    max-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  
  button {
    color: white;
    margin: 10px auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding-inline: 30px;
    padding-block: 10px;
    font: 1em/1.618 sacramento;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 1s ease-in-out;
  }

  button:after {
    content: '︽';
    position: absolute;
    opacity: 0;  
    top: 14px;
    top: -5px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-top: 27px;
    padding-bottom: 8px;
  }
  
  button:hover:after {
    opacity: 1;
    top: 5px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;    
    text-align: center;
    color: white;
  }
  